/.git
/.vscode


_*/
**/_*
**/*.ipynb
**/*.ui


/log
/venv


database.sqlite
resource/variable/*.pkl
resource/utility/models/buffalo_sc.zip

run_window.bat
run_window.vbs
run_linux.sh
TODO.md
requirements.txt